[Unit]
Description=Activate RHV host(s) at startup and deactivate at shutdown
After=network-online.target
Wants=network-online.target

[Service]
TimeoutSec=0
EnvironmentFile=-/etc/sysconfig/rhv-manage-hosts
ExecStart=/usr/sbin/rhv-manage-hosts daemon

[Install]
WantedBy=multi-user.target
